form {
    width: 500px;
}

.form-control, .form-control:focus, .form-control:hover, .form-control:active {
    box-shadow: 0 0 0 30px white inset !important;
}

h1, h3, p {
    text-align: center;
}

.displayed {
    display: block;
    margin: 0 auto;
}

button {
    width: 200px;
}